<app-header></app-header>
<p class="titulo">Agegar Productos</p>
<div class="contenedor">
    <div class="lista">
        <div class="url">Productos >  <span class="urlNegritas">Agregar Producto</span></div>
        <div class="borde"></div>
        <form class="tabla" [formGroup]="productoForm" (ngSubmit)="envio()" id="form">
            <div class="grupo1">
                <label for="nombre" class="etiqueta">Nombre</label>
                <input type="text" formControlName="nombre" class="input input1" [ngClass]="{'error': (productoForm.get('nombre')?.hasError('required') && productoForm.get('nombre')?.touched)}">
            </div>
            <div class="grupo1">
                    <label for="descripcion" class="etiqueta">Descripcion</label>
                    <input type="text" formControlName="descripcion" class="input input2 input3" [ngClass]="{'error': (productoForm.get('descripcion')?.hasError('required') && productoForm.get('descripcion')?.touched)}">
            </div>
            <div class="grupo2">
                <div class="contenidoGrupo2">
                    <label for="precio_venta" class="etiqueta">Precio Venta</label>
                    <input type="text" formControlName="precio_venta" class="input input2 " class="input input2" [ngClass]="{'error': (productoForm.get('precio_venta')?.hasError('required') && productoForm.get('precio_venta')?.touched)}">
                </div>
                <div class="contenidoGrupo2">
                    <label for="precio_compra" class="etiqueta">Precio Compra</label>
                    <input type="text" formControlName="precio_compra" class="input input2 "  [ngClass]="{'error': (productoForm.get('precio_compra')?.hasError('required') && productoForm.get('precio_compra')?.touched)}">
                </div>
            </div>
            <div class="grupo2">
                <div class="contenidoGrupo2">
                    <label for="cantidad_stock" class="etiqueta etiqueta2">Cantidad en Stock</label>
                    <input type="text" formControlName="cantidad_stock" class="input input2" [ngClass]="{'error': (productoForm.get('cantidad_stock')?.hasError('required') && productoForm.get('cantidad_stock')?.touched)}">
                </div>
                <div class="contenidoGrupo2">
                    <label for="cantidad_minima" class="etiqueta etiqueta2">Cantidad Minima</label>
                    <input type="text" formControlName="cantidad_minima" class="input input2" [ngClass]="{'error': (productoForm.get('cantidad_minima')?.hasError('required') && productoForm.get('cantidad_minima')?.touched)}">
                </div>
            </div>
            <div class="grupo2">
                <div class="contenidoGrupo2">
                    <label for="categoria_id" class="etiqueta">Empresa</label>
                    <select name="IdEmpresa" class="input input2" id="IdEmpresa" formControlName="categoria_id"
                        [ngClass]="{'error': (productoForm.get('categoria_id')?.hasError('required') && productoForm.get('categoria_id')?.touched)}">
                        <option value="" selected disabled>Selecciona la Empresa</option>
                        <option *ngFor="let category of categoria" value="{{this.category.id}}">{{this.category.nombre}}</option>
                        <!--<option *ngFor="let dato of datos | paginate: config; let ultimo = last; let posicion = index" [ngClass]="{'ultimo': ultimo}" value="{{dato.idempresa}}">{{dato.nombre}}</option>-->
                    </select>
                </div>
            </div>
            <div class="grupo1">
                <label for="imagen" class="etiqueta">Subir imagen:</label>
                <input type="file" formControlName="imagen" class="input1 input1" [ngClass]="{'error': (productoForm.get('imagen')?.hasError('required') && productoForm.get('imagen')?.touched)}">
            </div>
        </form>
    </div>
    <div class="abajo">
        <div class="atras" (click)="regresar()">
            <img src="../../../../assets/img/regresar.png" alt="" class="flecha">
            <label for="" class="regresar">Regresar</label>
        </div>
        <div class="guardar">
            <button type="submit" form="form" class="agregar">Agregar</button>
        </div>
    </div>
</div>
<app-footer></app-footer>